@import "global.css";

html, body, #root{
    height: 100%;
}

/* #video {
    transform: rotateX(360deg);
} */

.fade-in {
    opacity: 0;
    transition: opacity 0.1s ease-out;
}

.fade-in.visible {
    opacity: 1;
}